{% extends 'template.html' %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <button type="button" id="sidebarCollapse" class="btn btn-primary">
      <i class="fa fa-bars"></i>
      <span class="sr-only">Toggle Menu</span>
    </button>
      <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      </div>
  </div>
</nav>
{% endblock %}

{% block header %} Dashboard {% endblock %}

{% block body %}
<div class='table-responsive'>
  <table class='table table-sm table-hover text-center'>
    <thead style='background-color: #f8b739;'>
      <tr>
        <td> URL </td>
        <td> COMMENT </td>
        <td> LAST STATUS </td>
        <td> SUBMITED AT </td>
        <td> ACTION </td>
      </tr>
    </thead>
    <tbody>
    {% for target in targets.items %}
      <tr>
        <td> {{target.target_url}} </td>
        <td> {{target.target_comment}} </td>
        <td> {{target.target_status_code}} </td>
        <td> {{target.submited_at | text_date}} </td>
        <td>
          <a href='#' class='btn btn-sm btn-info'>
            <i class='fa fa-play'>CHECK</i>
          </a>
          <a href='#' class='btn btn-sm btn-warning'>
            <i class='fa fa-play'>DOWNLOAD</i>
          </a>
          <a href='#' class='btn btn-sm btn-danger'>
            <i class='fa fa-remove'>DELETE</i>
          </a>
        </td>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
