{% extends 'template.html' %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <button type="button" id="sidebarCollapse" class="btn btn-primary">
      <i class="fa fa-bars"></i>
      <span class="sr-only">Toggle Menu</span>
    </button>
      <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      </div>
  </div>
</nav>
{% endblock %}

{% block header %} Dashboard {% endblock %}

{% block body %}
<button class='btn btn-sm btn-success py-2 px-3 my-1' data-toggle='modal' data-target='#myModal'>
  <i class='fa fa-plus'> ADD TARGET </i>
</button>
<div class='table-responsive'>
  <table class='table table-sm table-hover text-center'>
    <thead style='background-color: #f8b739;'>
      <tr>
        <td> URL </td>
        <td> COMMENT </td>
        <td> LAST STATUS </td>
        <td> SUBMITED AT </td>
        <td> ACTION </td>
      </tr>
    </thead>
    <tbody>
    {% for target in targets.items %}
      <tr>
        <td> {{target.target_url}} </td>
        <td> {{target.target_comment}} </td>
        <td> {{target.target_status_code}} </td>
        <td> {{target.submited_at | text_date}} </td>
        <td>
          <a href='#' class='btn btn-sm btn-info'>
            <i class='fa fa-play'>CHECK</i>
          </a>
          <a href='#' class='btn btn-sm btn-warning'>
            <i class='fa fa-download'>DOWNLOAD</i>
          </a>
          <a href='#' class='btn btn-sm btn-danger'>
            <i class='fa fa-remove'>DELETE</i>
          </a>
        </td>
    {% endfor %}
    </tbody>
  </table>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Add User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action='{{url_for("dashboard_bp.add_user")}}' method='POST'>
          <div class="form-group">
            <label for="user-name" class="col-form-label"> User name: </label>
            <input type="text" name="user_name" class="form-control" id="user-name" required>
          </div>
          <div class="form-group">
            <label for="real-name" class="col-form-label"> Real name: </label>
            <input type="text" name="real_name" class="form-control" id="real-name" required>
          </div>
          <div class="form-group">
            <label for="pass-word" class="col-form-label"> Pass word: </label>
            <input type="password" name="pass_word" class="form-control" id="pass-word" required>
          </div>
          <div class="form-group">
            <label for="role-user" class="col-form-label"> Role user: </label>
            <select name='role_user' class='form-control'>
            {% for role in roles %}
              <option value='{{role.id}}'> {{role.role_name}} </option>
            {% endfor %}
            </select>
          </div>
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
          <input id="mainButton" type="submit" style="display: none;">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button onclick="document.getElementById('mainButton').click();" type="button" class="btn btn-success">Submit</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
