{%- macro alert_message() %}
  {% set messages = get_flashed_messages(with_categories = True) %}
  {% if messages %}
    {% for message, category in messages %}
      {% if category == 'error' %}
        <div class='alert alert-danger' role='alert'>
          <button type='button' class='close' data-dismiss='alert' aria-label='close'>
            <span aria-hidden='true'>&times</span>
          </button>
          <h4 class='alert-heading'> ERROR </h4>
          <p class='lead'> {{message}} </p>
        </div>
      {% else %}
        <div class='alert alert-success' role='alert'>
          <button type='button' class='close' data-dismiss='alert' aria-label='close'>
            <span aria-hidden='true'>&times</span>
          </button>
          <h4 class='alert-heading'> SUCCESS </h4>
          <p class='lead'> {{message}} </p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro -%}
